img {
  vertical-align: middle;
  border-style: none;
}

.slider {
  max-width: 1125px;
  height: 680px;
  margin-left: auto;
  margin-right: auto;
}

.slider-container {
  position: relative;
}

.slides {
  display: none;
}

.button-sl {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
}

.button-sl:hover,
.button-sl:focus {
  color: #fff;
}

.prev {
  text-align: start;
  position: absolute;
  top: 85%;
  left: 60%;
  transform: translate(0%, -50%);
}

.next {
  text-align: end;
  position: absolute;
  top: 85%;
  right: 10%;
  transform: translate(0%, -50%);
}

.prev:after,
.next:after {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  cursor: pointer;
  bottom: 0;
  margin-top: 8px;
  background-color: rgba(157, 164, 189, 0.6);
  background-size: auto;
}

.prev:hover:after,
.prev:focus:after {
  background-color: #fff;
}

.next:hover:after,
.next:focus:after {
  background-color: #fff;
}
