@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Just Another Hand", cursive;
  overflow-x: hidden; /* optional */
}

#i1,
#i2,
#i3 {
  display: none;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 38%;
  user-select: none;
  background-color: #1c1c1c;
}

.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .slide_img img {
  width: inherit;
  height: inherit;
}

.prev,
.next {
  width: 12%;
  height: 0;
  position: absolute;
  top: 80%;
  background-color: rgba(88, 88, 88, 0.2);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
}

.next {
  right: 10%;
  text-align: end;
}
.prev {
  left: 70%;
  text-align: start;
}

label span {
  position: absolute;
  font-size: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: 0.3s;
  background-color: rgba(88, 88, 89, 0.8);
  color: #ffffff;
}

.prev:after,
.next:after {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  cursor: pointer;
  bottom: 0;
  margin-top: 8px;
  background-color: rgba(157, 164, 189, 0.6);
  background-size: auto;
}

// .prev:hover:after,
// .prev:focus:after {
//   background-color: #fff;
// }

// .next:hover:after,
// .next:focus:after {
//   background-color: #fff;

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: end;
  z-index: 99;
  cursor: default;
}

#nav_slide .dots {
  width: 10px;
  height: 10px;
  margin: 20px auto;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}
