// @import "./slider";
@import "./slideNEW";

body {
  font-family: Open Sans;
  font-style: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.page-header {
  position: relative;
  max-width: 576px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../img/header-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 40px;
  padding-right: 39px;
  padding-left: 31px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-menu {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  cursor: pointer;

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
.menu-container {
  background-color: #ffffff;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 337px;
  height: 796px;

  padding-top: 118px;
  padding-left: 40px;

  &.is-open {
    display: block;
  }

  .site-nav {
    margin-bottom: 64px;
    & .item:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .site-nav .link {
    color: #303030;
  }
  .site-nav .item .link:hover,
  .site-nav .item .link:focus {
    color: #ff6c00;
  }

  .menu-contacts {
    margin-bottom: 64px;
  }

  .menu-contacts .contact {
    color: #303030;
  }

  .menu-contacts .contact:hover,
  .menu-contacts .contact:focus {
    color: #ff6c00;
  }

  .button {
    margin-top: 24px;
    background-color: #ffffff;
    color: #303030;

    border-color: #ff6c00;

    font-style: 600;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;

    display: inline-block;
    vertical-align: middle;

    cursor: pointer;

    text-decoration: none;
    border-radius: 25px;
    min-width: 194px;
    min-height: 40px;
    letter-spacing: 0.09em;
  }

  .button:hover,
  .button:focus {
    color: #ffffff;
    background-color: #ff6c00;
  }

  .soc-links .item:last-child {
    margin-top: 24px;
  }

  .soc-links .link {
    color: #303030;

    font-size: 14px;
    font-style: 600;
    line-height: 1.4;
  }

  .link-yt {
    padding-left: 80px;
  }

  .soc-links .link:hover span,
  .soc-links .link:focus span {
    color: #ff6c00;
  }
}

.soc-line:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.block {
  margin-bottom: 24px;
}

.hero {
  max-width: 306px;
  height: 189px;
  padding-top: 112px;
}

.hero .element {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;

  color: rgba(157, 164, 189, 0.6);

  font-size: 11px;
  font-style: 600;
  line-height: 1.4;
  text-transform: uppercase;

  overflow: hidden;
  text-align: center;
}
.element span {
  display: inline-block;
  vertical-align: middle;
}

.element:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero .title {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
  color: #ffffff;
  font-size: 48px;
  font-style: 700;
  line-height: 1.16;
}

.description {
  color: #9da4bd;
  font-size: 16px;
  font-style: 400;
  line-height: 1.6;
  letter-spacing: 0.02;
}

/* Demo */

.part {
  max-width: 155px;
  height: 680px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-demo {
  width: 80px;
  border-radius: 50%;
  background-color: #303030;
  padding-top: 10px;
  padding-left: 10px;

  margin-bottom: 280px;
}

.aside-block {
  position: relative;
  padding-left: 5rem;
  margin: 0 auto;
  width: 50%;
}

.aside-block .pin:last-child {
  margin-top: 100px;
}
.pin {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3rem;
  height: 100%;
  background: white;
}

.pin:hover span,
.pin:focus span {
  color: #ff6c00;
}

.pin span {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: bottom;
  text-align: center;
  transform: rotate(-90deg);
  background: white;
  color: #303030;
}

.line:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background-color: #303030;
  position: relative;

  transform: rotate(-90deg);
  top: 120px;
  left: 7px;
}
